
// Triad colours
$triad-bg-dark: #1D3900;
$triad-bg-light: #ffffff;
$triad-bg-text: #003300;

// Body
$body-bg: $triad-bg-dark;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $triad-bg-text;

// Navbar
$navbar-default-bg: #fff;
$navbar-default-color: $triad-bg-text;
$navbar-default-link-color: $triad-bg-text;
$navbar-default-link-active-color: $triad-bg-text;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
